:host {
  display: block;
  background-color: black;
  color: white;
  font-family: system-ui;


  .header {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
  }

  .title {
    font-size: 25px;
    padding: 0 0 15px;
    text-transform: capitalize;
    display: flex;
    gap: 15px;
  }

  .affix-type {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .all-affix {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  .affixs {
    display: flex;
    gap: 15px;
    justify-content: space-between;

    .affix {
      gap: 5px;
      padding: 0 5px;
      flex-direction: column;
      border: 1px solid;
      user-select: none;
      cursor: pointer;

      &:nth-child(even) {
        background-color: #121212;
      }

      .main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        padding: 5px;

        .info {
          gap: 5px;
          display: flex;
          align-items: center;
          margin-right: 25px;

          .name {
            display: flex;
            gap: 5px;
          }
        }

        .mini-info {
          display: flex;
          position: relative;
          gap: 5px;

          .fav {
            all: unset;
            border: 1px solid;
            width: 18px;
            margin-left: 10px;

            &:hover {
              background-color: grey;
            }

            &.active {
              background-color: white;
            }
          }

        }

      }

      &:hover {
        border-left: 4px solid white;
        padding-left: 2px;

        .more-info {
          opacity: 1;
        }
      }

      .more-info {
        opacity: 0;
      }

      .modified {
        display: flex;

        &.less {
          color: #970707;
        }

        &.more {
          color: rgb(19, 92, 19);
        }
      }

      .tags {
        gap: 5px;
        display: flex;


        .tag {
          border: 1px solid #ccc;
          padding: 3px;
          font-size: 10px;
        }
      }

      .tiers {
        display: none;

        &.display {
          display: flex;
          gap: 5px;
          padding-left: 15px;
          flex-direction: column;
          margin-bottom: 10px;
        }

        .tier {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 5px;
          padding: 0 5px;

          .infos {
            display: flex;
            gap: 5px;
          }

          &.removed {
            text-decoration: line-through;
          }
        }
      }
    }
  }



  .tag {
    cursor: pointer;


    &-Elemental {
      background: linear-gradient(0.25turn, rgb(177, 12, 12), rgb(94, 4, 94));
    }

    &-Fire {
      color: white;
      background-color: rgb(122, 20, 20);
    }

    &-Cold {
      color: white;

      background-color: rgb(22, 22, 138);
    }

    &-Lightning {
      color: yellow;
    }

    &-Attack {
      color: rgba(255, 123, 0, 0.514);
    }

    &-Mana {
      color: rgb(0, 255, 221);
    }

    &-Physical {
      color: rgb(110, 110, 110);
    }

    &-Chaos {
      color: rgb(161, 0, 148);
    }

  }



  .cim {
    padding-bottom: 15px;
    position: sticky;
    margin-bottom: 15px;
    top: 0;
    background: black;
    z-index: 1;

    .allCorpse {
      margin-top: 15px;
      display: flex;
      gap: 5px;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 20vh;



      .corpse {
        display: flex;
        gap: 15px;
        align-items: center;

        .actions {
          display: flex;
          gap: 5px;

          .remove {
            background-color: #970707;
            padding: 0px 5px 1px;
            border-radius: 3px;
            cursor: pointer;
          }

          .display {
            background-color: #4b4b4b;
            padding: 0px 5px 1px;
            border-radius: 3px;
            cursor: pointer;
          }

        }

        &.active .actions {
          .display {
            background-color: #1c4e08;
          }
        }

        .content {
          display: flex;
          align-items: center;
          gap: 15px;
          opacity: 0.5;
        }


        &.active .content {
          opacity: 1;
        }

        .tag {
          border: 1px solid #ccc;
          padding: 3px;
          font-size: 12px;
        }


      }

    }

    .rating-management {
      display: flex;
      align-items: center;
      height: 30px;
      gap: 10px;
    }

    .selector {
      display: flex;
      gap: 5px;
    }

  }

}